<div class="product">
  <p>
    <%= link_to (image_tag product.image_url().to_s), product %>
  </p>
  <h2>
    <%= product.name %>
  </h2>
  <p class="price">
    <strong>Price:</strong>
    <%= product.price %>
  </p>
  <div class="links">
    <%= render :partial => 'products/productlinks', :locals => { :product => product } %>
    <%= link_to 'Show', product %>
  </div>    
</div>