  <table id="shopping_cart">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">
          Total: <%= number_to_currency(@total) %>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <% @items.each_with_index do |item, index| %>
        <tr>
          <td>
            <%= link_to item[:name], item %>
            
          </td>
          <td>
            <%= form_tag(change_quantity_path) do %>
              <%= hidden_field_tag(:item_id, @prod_id[index]) %>
              <%= text_field_tag(:qty, nil,:placeholder => @quantity[index]) %>
              <%= submit_tag("Change Quantity", :class => "quantity_button") %>
            <% end %>
          </td>
          <td>
            <%= number_to_currency(@cost[index]) %>
          </td>
          <td>
            <%= link_to 'Remove', remove_from_cart_path(item[:id]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="buttons">
    <%= button_to "Continue Shopping", root_path, :method => :get, :id => "continue_button" %>
    <%= button_to "Checkout Now", user_credentials_path, :method => :get, :id => "checkout_now_button", :locals => { :items => @items, :quantity => @quantity, :cost => @cost, :total => @total} %>
  </div>
