<div id="full_product">
<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @product.image %>
</p>
<h2>
  <%= @product.name %>
</h2>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @product.stock_quantity %>
</p>
<p>
  <%= @product.description %>
</p>
<%= link_to 'Back', root_path %>
</div>